
$black: #161b1f;
$bgblack: #1c1f21;
$codebg: #141617;
$cutwhite: #A1A19C;

$gray: #636466;
$light-gray: #f2f2f2;

$indigo: #5472cc;
$purple: #8033cc;
$blue: #2996cc;
$teal: #1cbda2;
$green: #24b524;
$lime:#95bf15; 
$yellow: #d1b200;
$orange: #f97242;

$me-design-logo: url('../../../rsrc/me-diamond.svg');
