@import "mixins/prefixer";
body{
	padding: 0;
	margin: 0;
	background-color: $bgblack;
	@include transition(background-color 0.2);
	&.light{
		background-color: white;
		.me-design-ftr{
			background-color: $light-gray;
			a{
				color: $black !important;
				font-weight: normal;
			}
		}
		.me-design-hdr{
			ul{
				a{
					color: $black !important;
					font-weight: normal;
				}
			}
		}
	}
}
pre{
	border: none;
}
h1{
	font-weight: 300;
	letter-spacing: 1px;
}
header.me-design-hdr{
	position: relative;
	top:0;
	width: 100%;
	padding: 10px 0;
	.container{
		position: relative;
		#me-design-main_logo{
			background-image: $me-design-logo;
			display: inline-block;
	    width: 40px;
	    height: 40px;
	    color: transparent;
		}

		ul{
			display: inline-block;
			position: absolute;
			right:15px;
			li{
				display: inline-block;
				float: none;
				list-style: none;
				a{
					padding: 0px 10px;
					height: 40px;
					line-height: 40px;
					color: white;
					letter-spacing: 1.2px;
					font-weight: 200;
					font-size: 10px;
					opacity: .8;
					&:hover{
						text-decoration: none;
						opacity: 1;
					}
				}
				form#toggleUIColor{
					position: relative;
					top:9px;
				}
			}
		}
	}
}
.container{
	&.dark{
		color: white;
		p{
			color: $cutwhite;
    	font-size: 11px;
    	line-height: 20px;
    	letter-spacing: 0.4px;
		}
	}
	&.white{
		color: $black;
		p{
			color: $black;
		}
	}
}
footer.me-design-ftr{
	position: fixed;
	width: 100%;
	bottom:0;
	padding: 6px 0;
	background-color: $black;
	@include box-shadow(0px -2px 3px rgba(22, 24, 25, 0.15));
	a{
		padding: 0px 10px;
		height: 40px;
		line-height: 40px;
		color: #fff;
		letter-spacing: 1.2px;
		font-weight: 200;
		font-size: 10px;
		opacity: .8;
		&:hover{
			text-decoration: none;
			opacity: 1;
		}
	}
}
.home{
	h1{
		font-size: 68px;
		margin-bottom: 30px;
	}
}
.elements-list{
	list-style: none;
	padding: 0;
	padding-bottom: 50px;
	margin: 0;
	li{
		display: block;
		margin: 0;
		padding: 0;
		a{
			display: block;
			width: 100%;
			padding: 20px 25px 20px 10px;
			color: $cutwhite;
			border-bottom: 1px solid $cutwhite;
			font-weight: 200;
			font-size: 12px;
			letter-spacing: 0.8px;
			@include transition(.25s);
			&:hover{
				background-color: rgba(22, 25, 27,0.05);
				text-decoration: none;
				padding-left: 20px;
			}
			span[class*="icon-myed-"]{
				@include border-radius(2px);
				position: relative;
				top:3px;
				color: #fff;
				font-size: 18px;
				padding: 2px;
				display: inline-block;
				text-align: center;
		    width: 26px;
		    height: 26px;
		    line-height: 27px;
		    margin-right: 4px;
			}
		}
		&:last-child{
			a{
				border-bottom: none;
			}
		}
	}
}